nav {
    padding: 0%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav .logo {
    display: flex;
    align-items: left;    
}
nav .logo img {
    width: auto;
    height: auto;

}





